<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <table class="table table-sm table-dark">
        <thead>
            <tr>
            <th scope="col">Email</th>
            <th scope="col">Created_at</th>
            </tr>
        </thead>
        <tbody>
            {% for i in emails %}
            <tr>
            <td>{{ i.email }}</td>
            <td>{{ i.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>